.app {
  text-align: center;
  padding: 20px;
}

.logged-in,
.logged-out {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 50%;
  margin: 40px auto;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

button:active{
  transform: scale(0.9);
}